{% extends 'base.html' %}
{% load static  %}

{% block title %} Password Reset Done {% endblock title %}

{% block content %}

<div class="card text-white" style="margin-left: 450px; height: 30rem; margin-top: 100px; width: 40rem;">
    <div class="card-body">
        <h2 class="card-title">Reset your password</h2><br>
        <p>We've emailed you instructions for setting your password.</p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item bg-secondary">If you don't receive an email, please make sure you've entered the address you registered with.</li>
  </ul>
    <div class="card-body">
    <a href="https://mail.google.com/mail/" class="card-link">Check your e-mail.</a>
  </div>
</div>

{% endblock content %}