{% extends 'base.html' %}
{% load static  %}

{% block title %} Password Reset Confirm {% endblock title %}

{% block content %}

<div class="card" style="margin-left: 450px; height: auto; margin-top: 100px; width: 40rem;">
    <div class="card-header font-weight-bold">
        Reset your password
    </div>
    <div class="card-body">
        {% if validlink %}
        <h5 class="card-title">Please enter your new password twice:</h5><br>
        <form class="text-success" action="" method="post">{% csrf_token %}
            {% for field in form %}
            <div class="input-group">
            {{field.label}}
            {{ field }}
        </div>

            {% if form.errors %}
            {% for err in field.errors %}
            <p class="text-danger">{{err}}</p>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <br> <input class="btn btn-primary btn-block" type="submit" value="Change my password"/>
            {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}