{% extends 'base.html' %}
{% load static  %}

{% block title %} Password Reset {% endblock title %}

{% block content %}

<div class="card" style="margin-left: 450px; height: 30rem; margin-top: 100px; width: 40rem;">
    <div class="card-body">
        <h2 class="card-title">Forgotten your password?</h2><br>
        <p>Enter your e-mail address to obtain a new password.</p>
    </div>
    <div class="card-body text-info ">
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br> <input class="btn btn-primary" type="submit" value="Send e-mail">
        </form>
    </div>
</div>
{% endblock content %}