<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=206764147945841&autoLogAppEvents=1" nonce="9kjs1a5T"></script>
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"  data-onsuccess="onSignIn()"
 data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="true"></div>
 <script>
   function onSignIn(){
     document.location.href='{% url "todo_home" %}'
   }
 </script>
