{% extends 'base.html' %}
{% load static  %}

{% block title %} Admin | {{request.user}} {% endblock title %}

{% block content %}

<!-- Side navigation -->
<div class="row">
<div class="col-lg-2">
{% include "sidebar.html" %}
</div>
<div class="col-lg-10">

<div id="content" class="p-5">

 <!-- Top navbar -->
 <nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom: 5px !important;">
    <form class="form-inline"  method="POST" action="{% url 'todo_home'%}" novalidate>
        {% csrf_token %}
       <div class="input-group">
          <div class="input-group-prepend text-dark ">
              {{dateFilterForm.form}}
          <button type="submit" id="filter" class="btn btn-primary ml-5 rounded">Filter</button>
          <a href="{% url 'todo_home' %}" class=" btn btn-secondary ml-2 rounded" name="reset_form">clear</a>
          </div>  
        </div>
    </form>
</nav>


<div class="text-center">
    {% if users.has_other_pages %}
    <ul class="pagination">
        {% if users.has_previous %}
        <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in users.paginator.page_range %}
        {% if users.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if users.has_next %}
        <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
    

<p class="text-danger" id="field_error"> </p>

<form method="post" id="todo_form" novalidate action="{% url 'add_admin_todo' %}"> {% csrf_token %}

    <div class="main-todo-input fl-wrap">
        <div class="main-todo-input-item">
                {{form.field}}
        </div>

        <button class="add-items main-search-button" onclick="addError()" id="add">ADD</button>
    </div>

    <p class="text-danger" id="users_error"></p>
    
    <div class="main-todo-input fl-wrap">
        {{usf.users}}
</div>


</form>

<div class="main-todo-input fl-wrap todo-listing">
    <ul id="append_list" class="ml-5 list-items list-unstyled ml-3">
        {% if filter_items %}
        <!-- <li class="text-dark font-weight-bold"> {{ user_name.username }} </li> -->
        <meta id="users" data-all_users="{{ all_users }}">
        {% for user in all_users %}
        <li id="user_{{forloop.counter}}" class="font-weight-bold text-dark">  </li>
        {% for item in filter_items %}
        {% if item.user_id == user.id %}
        <ul id="ml-5 list-items">
            {% if item.field %}
            <li>
                <script> document.getElementById('user_{{forloop.parentloop.counter}}').textContent = "{{user}}";</script>
                <p id="item">{{item.field}}</p>
                <a href="{% url 'delete' item.id %}" class="btn btn-danger float-right ml-2">Delete</a>
                <a href="{% url 'edit' item.id %}" class="btn btn-secondary float-right">Edit</a>
                <p class="text-danger h6 text-capitalize"><span class="font-weight-bold"> Status: </span>
                {{ item.status }}
                </p>
            </li>
            {% else %}
            <li> Nothing has todo </li>
            {% endif %}
        </ul>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% else %}
        {% for user in users%}
        <li class="font-weight-bold text-dark">{{user.username}}</li>
        {% for item in items %}
        {% if user.id == item.user_id %}
        <ul class="list-items">
            {% if item.field %}
            <li class="ml-4">
                {{item.field}} 
                <a href="{% url 'delete' item.id %}" class="btn btn-danger ml-3 float-right" >Delete</a>
                <a href="{% url 'edit' item.id %}" class="btn btn-secondary float-right">Edit</a>
                <p class="text-danger h6 text-capitalize"><span class="font-weight-bold"> Status: </span>
                {{ item.status }}
                </p>
            </li>
            {% else %}
            <li> Nothing has todo </li>
            {% endif %}

        </ul>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endif %}
    </ul>
</div>

<div class="main-todo-input-wrap text-center">
    {% if users.has_other_pages %}
    <ul class="pagination">
        {% if users.has_previous %}
        <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in users.paginator.page_range %}
        {% if users.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if users.has_next %}
        <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
</div>
</div>
</div>

{% endblock content %}
        
        
   
{% block javascript %}
<script>
function addError(){
    var valid = true;
    var user = document.getElementById("id_users").value;
    console.log(user);
    if (user === ''){
        document.getElementById("users_error").innerHTML="You must choose one user.";
        valid = false;
    }


    var field = document.getElementById("todo-list-item").value;
    console.log(field);
    if (field === ''){
        document.getElementById("field_error").innerHTML="You must enter your task.";
        valid = false;
    }
 return valid;   
}
</script>    

{% endblock javascript %}

