{% extends 'base.html' %}
{% load static  %}

{% block title %} Change Password {% endblock title %}

{% block content %}
	<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Change Your Password</h2>
                    <form method="POST">{% csrf_token %}
                        {% for field in password_change_form %}
                        <div class="input-group">
                            {{field}}
                        </div>
                        {% endfor %}
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Save Password</button>
                        </div>
                    </form>
                  </div>
            </div>
        </div>
    </div>
{% endblock content %}
