{% extends 'base.html' %}
{% load static  %}

{% block title %} User | {{request.user}} {% endblock title %}

{% block content %}
<!-- Side navigation -->
<div class="sidenav">
    {% if user.userprofile.profile_pic %}
    <img class="profile_image" id="myImg" src="{{request.user.userprofile.profile_pic.url}}" alt="{{request.user}}">
    {% else %}
    <img class="profile_image" id="" src="{% static 'todo/images/default.jpg' %}" alt="Maxwell Admin">

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>

    {% endif %}
    <p class="float-left  mt-2 ml-5 text-white font-weight-bold">{{ context.my_user.username }}</p>
    <!--    <form method="post"> {% csrf_token%}-->
    <!--        {{ context.profile_form.as_p }}-->
    <!--    </form>-->
    <hr class="mt-5 border border-info">

    <a class="text-decoration-none" href="{% url 'change_password' %}">Change Password</a>
    <a href="{% url 'edit_user' %}" class="text-decoration-none"> Update Profile </a>


    <div class="button_end">
        <a class="btn btn-secondary btn-block mt-3 mr-5 mr-1 font-weight-bold text-info " href="{% url 'logout' %}"
           role="button">Logout</a>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <div class="main-todo-input-wrap">
            <div class="main-todo-input fl-wrap">
                <form action="{% url 'add'%}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="main-todo-input-item">
                        {{ context.form.field }}
                        {% if form.errors %}
                        {{ context.form.errors }}
                        {% endif %}
                    </div>
                    <button class="add-items main-search-button">ADD</button>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-todo-input-wrap">
            <div class="main-todo-input fl-wrap todo-listing">
                <ul id="list-items">
                    {% for item in context.items %}
                    <li class="mb-1">{{item.field}}
                        <a href="{% url 'delete' item.id %}" class="btn btn-danger ml-3 float-right">Delete</a>
                        <a href="{% url 'edit' item.id %}" class="btn btn-secondary float-right">Edit</a><br><br>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
