<!--     
<div class="p-5">
<p class="text-danger" id="field_error"> </p> -->

<!-- <form method="post" id="todo_form" novalidate action="{% url 'add_admin_todo' %}"> {% csrf_token %}

    <div class="main-todo-input fl-wrap">
        <div class="main-todo-input-item">
                {{form.field}}
        </div>

        <button class="add-items main-search-button" onclick="addError()" id="add">ADD</button>
    </div>

    <p class="text-danger" id="users_error"></p>
    
    <div class="main-todo-input fl-wrap">
        {{usf.users}}
    </div>


</form> -->

<!-- <div class="main-todo-input fl-wrap todo-listing">
    <ul id="append_list" class="ml-5 list-items list-unstyled ml-3">
        {% if filter_items %}
         <li class="text-dark font-weight-bold"> {{ user_name.username }} </li> 
        <meta id="users" data-all_users="{{ all_users }}">
        {% for user in all_users %}
        <li id="user_{{forloop.counter}}" class="font-weight-bold text-dark">  </li>
        {% for item in filter_items %}
        {% if item.user_id == user.id %}
        <ul id="ml-5 list-items">
            {% if item.field %}
            <li>
                <script> document.getElementById('user_{{forloop.parentloop.counter}}').textContent = "{{user}}";</script>
                <p id="item">{{item.field}}</p>
                <a href="{% url 'delete' item.id %}" class="btn btn-danger float-right ml-2">Delete</a>
                <a href="{% url 'edit' item.id %}" class="btn btn-secondary float-right">Edit</a>
                <p class="text-danger h6 text-capitalize"><span class="font-weight-bold"> Status: </span>
                {{ item.status }}
                </p>
            </li>
            {% else %}
            <li> Nothing has todo </li>
            {% endif %}
        </ul>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% else %}
        {% for user in users%}
        <li class="font-weight-bold text-dark">{{user.username}}</li>
        {% for item in items %}
        {% if user.id == item.user_id %}
        <ul class="list-items">
            {% if item.field %}
            <li class="ml-4">
                {{item.field}} 
                <a href="{% url 'delete' item.id %}" class="btn btn-danger ml-3 float-right" >Delete</a>
                <a href="{% url 'edit' item.id %}" class="btn btn-secondary float-right">Edit</a>
                <p class="text-danger h6 text-capitalize"><span class="font-weight-bold"> Status: </span>
                {{ item.status }}
                </p>
            </li>
            {% else %}
            <li> Nothing has todo </li>
            {% endif %}

        </ul>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endif %}
    </ul>
</div>

</div> -->

<!-- <div class="main-todo-input-wrap text-center">