{% extends 'base.html' %}
{% load static  %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %} Sign Up {% endblock title %}

{% block style %}
<style>
    .g-recaptcha {
    position: relative;
    width: 100%;
    /* min-height: 100px; */
    background:  #929497;
    overflow: hidden;
    margin-bottom:20px;
    border-radius: 10px;
}

 .g-recaptcha > * {
    right: 0;
    margin: -2px -2px -6px;/*remove borders*/ 

}

/*.g-recaptcha::after{
    display: block;
    content: "I'm not robot";
    position: absolute;
    left:0;
    /*right:150px;*/
    /*top: 0;
    bottom:0;
    background-color: #f9f9f9;
    clear: both;
} */
</style>
{% endblock style %}

{% block content %}
<div class="page-wrapper bg-gra-01 font-poppins">
    <div class="wrapper wrapper--w780">

        {% if form.errors %}
        {% for non_field_error in form.non_field.errors %}
        <p class="text-danger">{{ non_field_error }}</p>
        {% endfor %}
        {% endif %}

        <div class="text-white card card-3">
            <!-- <div class="card-heading"></div> -->
            <div class="card-body">
                <h2 class="title text-center font-weight-bold">Registration Info</h2>
                
                <form method="POST" novalidate action="{% url 'register' %}"> {% csrf_token %}
                    {% for field in form %}
                    <div class="input-group">
                        {% if form.errors %}
                        {% for err in field.errors %}
                        <p class="text-danger">{{err}}</p>
                        {% endfor %}
                        {% endif %}

                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="g-recaptcha" data-sitekey="6Lf52CMbAAAAANlbXA-dmbMA3slDcDf_YotU43e4"></div>

                    <div class="p-t-5">
                        <button class="btn btn-block btn--pill btn--green" type="submit">Sign Up</button>
                    </div>

                </form>

                <h2 class="mt-5 mb-5 text-center text-secondary">--- OR ---</h2>
                <div class="text-center">
                    <a href="{% provider_login_url 'facebook' %}"  class="loginBtn loginBtn--facebook">Sign Up With Facebook</a>
                    <a href="{% provider_login_url 'google' %}" class="loginBtn loginBtn--google">Sign Up With Google</a>
                </div>
                <div class="w-100 text-center text">
                    <p class="mb-0">Already have an account?</p>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<!-- <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script> -->
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock javascript %}
