{% extends 'base.html' %}
{% load static  %}

{% block title %} Update {{request.user}}'s Data {% endblock title %}

{% block style %}
<style>
    .bg_img{
        background-image: url( "{% static 'todo/images/background/bg_1.jpg' %}");
        height: fit-content !important;
    }
    .profile_image_default{
        background-image: url( "{% static 'todo/images/default.jpg' %}");
    }
</style>

{% endblock style %}


{% block content %}
<div class="container">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="">

                    <div class="img bg_img bg-wrap text-center py-4" >
                        <div class="user-logo">
                            <div class="img" name="cp" style="background-image: url( '{{image_url}}' );"></div>
                            <h3>{{ my_user.username }}</h3>
                      </div>
                    </div>
                    <div> <h5 class="">{{ request.user.username }}</h5>
                    <h6 class="">{{ request.user.email }}</h6> </div>
                    <!-- <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                {% if user.userprofile.profile_pic %}
                                <img class="profile_image" src="{{user.userprofile.profile_pic.url}}"
                                     alt="{{request.user}}">
                                {% else %}
                                <img class="profile_image" src="{% static 'todo/images/default.jpg' %}"
                                     alt="{{request.user}}">

                                {% endif %}
                            </div>
                            <h5 class="user-name">{{ request.user.username }}</h5>
                            <h6 class="user-email">{{ request.user.email }}</h6>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        {% for error in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{error}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        {% endfor %}

                        {% for non_field_error in user_form.non_field.errors %}
                        <p class="text-danger">{{ non_field_error }}</p>
                        {% endfor %}

                        {% for non_field_error in profile_form.non_field.errors %}
                        <p class="text-danger">{{ non_field_error }}</p>
                        {% endfor %}

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h3 class="mb-2 text-primary">Personal Details</h3>
                        </div>
                        <form method="post" action="" id="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in user_form %}
                            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-6 col-12">
                                <div class="form-group text-white">
                                    {{field.label}}
                                    {{field}}

                                    {% if user_form.errors %}
                                    {% for err in field.errors %}
                                    <p class="text-danger">{{err}}</p>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}

                            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-6 col-12">
                                {% for form in profile_form %}
                                <div class="form-group text-white">
                                    {{form.label}}
                                    {{form}}

                                    {% if profile_form.errors %}
                                    {% for err in field.errors %}
                                    <p class="text-danger">{{err}}</p>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <a href="{% url 'todo_home' %}" type="button" id="submit" name="submit"
                                   class="btn btn-secondary">Cancel
                                </a>
                                <button type="button" id="update" class="btn btn-primary">Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script rel="script">
    $(document).ready(function () {
        $('#update').click(function () {
            //alert("clicked");
            $('#form').submit();
        });
    });
</script>
{% endblock javascript %}
