
 .main-todo-input {
     background: #e9ecef;
     padding: 0 120px 0 0;
     border-radius: 1px;
     margin-top: 15px !important;
     box-shadow: 0px 0px 0px 6px rgba(156, 124, 124, 0.3)
 }

 .fl-wrap {
     float: left;
     width: 98%;
     margin-left: 10px;
     position: relative
 }

 .main-todo-input:before {
     content: '';
     position: absolute;
     bottom: -40px;
     width: 50px;
     height: 1px;
     background: rgb(245, 231, 252);
     left: 50%;
     margin-left: -25px
 }

 .main-todo-input-item {
     float: left;
     width: 100%;
     box-sizing: border-box;
     border-right: 1px solid #eee;
     height: 50px;
     position: relative
 }

 .main-todo-input-item input:first-child {
     border-radius: 100%;
     background-color: #efefef;
 }

 .main-todo-input-item input {
     float: left;
     border: none;
     width: 100%;
     height: 50px;
     padding-left: 20px;
     color: #290639 !important;
 }

 .main-search-button {
     background: #4DB7FE
 }

 .main-search-button {
     position: absolute;
     right: 0px;
     height: 50px;
     width: 120px;
     color: #fff;
     top: 0;
     border: none;
     border-top-right-radius: 0px;
     border-bottom-right-radius: 0px;
     cursor: pointer
 }

 .main-todo-input-wrap {
     max-width: 600px;
     margin: 20px auto;
     position: static 
 }

 :focus {
     outline: 0
 }

 @media only screen and (max-width: 768px) {
     .main-todo-input {
         background: rgba(255, 255, 255, 0.2);
         padding: 14px 20px 10px;
         border-radius: 10px;
         box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0)
     }

     .main-todo-input-item {
         width: 100%;
         border: 1px solid #eee;
         height: 50px;
         border: none;
         margin-bottom: 10px
     }

     .main-todo-input-item input {
         border-radius: 6px !important;
         background: #fff
     }

     .main-search-button {
         position: relative;
         float: left;
         width: 100%;
         border-radius: 6px
     }
 }

 .remove {
     float: right;
     color: #757575 !important;
     font-size: 14px
 }

 #list-items {
     padding-left: 20px;
     padding-top: 15px;
     color: #200339 !important;
 }

 ul {
     padding: 0;
     text-align: left;
     list-style: outside;
 }

 .todo-text {
     color: #757575;
     margin-left: 10px
 }

 .strike {
     color: blue
 }

 .todo-listing {
     padding: 0px 29px 0 0;
     margin-top: 54px !important
 }

.bg-wrap .user-logo .img {
width: 100px;
height: 100px;
border-radius: 50%;
margin: 0 auto;
margin-bottom: 10px; }
.bg-wrap .user-logo h3 {
color: #fff;
font-size: 18px; }

#wrapper {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    min-width: 240px;
    max-width: 240px;
    height: auto;
    background-color: #e9ecef;
   
  }
  
  #sidebar-wrapper ul li a {
    padding: 15px 10px;
    display: block;
    color: rgba(3, 2, 2, 0.788);
  }
  
  #sidebar-wrapper ul li:hover {
    font-weight: bold;
    color: #000;
    background-color: #c5cbcc;
  }
  
  #sidebar-wrapper ul li {
    background-color: #e9ecef;
  }
  #sidebar-wrapper .sidebar-heading {
    padding: 21px 1.25rem;
    font-size: 2rem;
    font-weight: bold;
    color: #32373d;
    text-align: center;
    background-color: #e9ecef;
  }
  
  #sidebar-wrapper .list-group {
    width: 100%;
    height: 100%;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
}